rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return isSignedIn() && request.auth.token.email in ["mathelove2@gmail.com"];
    }
    function isAuthorizedStudent() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    match /users/{uid} {
      allow read: if isAdmin() || request.auth.uid == uid;
      allow write: if isAdmin();
    }

    match /students/{studentId} {
      allow read: if isAdmin() ||
        (isAuthorizedStudent() && request.auth.uid == studentId);
      allow write: if isAdmin();
    }

    match /records/{recordId} {
      allow read: if isAdmin() ||
        (isAuthorizedStudent() && resource.data.studentId == request.auth.uid);
      allow write: if isAdmin();
    }
  }
}
