rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return isSignedIn() && request.auth.token.email in ["mathelove2@gmail.com"];
    }

    match /students/{studentId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /records/{recordId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
