rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    function isSuperadmin() {
      return isSignedIn() && request.auth.token.email in ["mathelove2@gmail.com", "admin.zadalmaad@admin.com"];
    }

    match /curriculum/{fileName} {
      allow read: if true;
      allow write: if isSuperadmin();
    }
  }
}
